<!-- app/views/user/show.html.erb -->

<% if !@user.active %>
<h4>This account is inactive.</h4>
<% end %>

<div class="col-md-4">

  <%= image_tag("#{@user.profile_picture}", alt: "Profile Picture") %>
  <h3><%= @user.username.titleize %></h3>
  <h4><%= @user.created_at.strftime("Date joined: %m/%d/%Y") %> </h4>
  <h4> <%= @user.current_city.upcase %> </h4>

  <% if current_user && current_user[:id] == @user[:id] %>
    <%= button_to "Edit Profile", edit_user_path, :method => :get, :class => 'btn btn-info' %>
  <% end %>
</div>

<div class="col-md-6 col-md-offset-2">

  <% @user.posts.each do |post| %>

  <h1>  <%= link_to post.title, city_post_path(post[:city_id], post[:id]) %></h1>
  <p>
    <%= post.content %>
  </p>

    <% if current_user && current_user[:id] == post[:user_id] %>
      <%= button_to "Edit", edit_city_post_path(post[:city_id], post[:id]), :method => :get, :class => 'btn btn-info' %>
      <%= button_to "Delete", "/cities/#{post[:city_id]}/posts/#{post.id}", method: :delete, :class => 'btn btn-danger' %>
    <% end %>

  <% end %>

</div>
