<!-- app/views/user/show.html.erb -->
<div class="col-sm-4">

  <%= image_tag("#{@user.profile_picture}", alt: "Profile Picture") %>
  <h3><%= @user.username %></h3>
  <h4>Date joined: <%= @user.created_at %> </h4>
  <h4> <%= @user.current_city %> </h4>

  <%= button_to "Edit Profile", edit_user_path, :method => :get, :class => 'btn btn-info' %>

</div>

<div class="col-sm-7 col-sm-offset-1">

  <% @user.posts.each do |post| %>

  <h1>  <%= post.title %></h1>
  <p>
    <%= post.content %>
  </p>

  <% end %>
</div>
