<!-- app/views/user/show.html.erb -->

<% if !@user.active %>
<h4>This account is inactive.</h4>
<% end %>

<div class="col-md-4">

  <%= image_tag("#{@user.profile_picture}", width: "200px", alt: "Profile Picture") %>
  <h3><%= @user.username %></h3>
  <h4>Date joined: <%= @user.created_at %> </h4>
  <h4> <%= @user.current_city %> </h4>

  <% if current_user && current_user[:id] == @user[:id] %>
    <%= button_to "Edit Profile", edit_user_path, :method => :get, :class => 'btn btn-info' %>
  <% end %>
</div>

<div class="col-md-6 col-md-offset-1">

  <% @user.posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>  <%= link_to post.title, city_post_path(post[:city_id], post[:id]) %></h3>
      <p>
        <%= post.content %>
      </p>

      <% if current_user && current_user[:id] == post[:user_id] %>
        <%= button_to edit_city_post_path(post[:city_id], post[:id]),
                  :method => :get,
                  class: "btn btn-default pull-right button"  do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= button_to "/cities/#{post[:city_id]}/posts/#{post.id}", method: :delete, :class => "btn btn-default pull-right button" do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>



  <% end %>


</div>
