
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p> <strong>Written By:</strong> <%= @post.user.username %></p>
<p> <strong>Posted At:</strong> <%= @post.created_at.strftime("%m/%d/%Y") %></p>

<%= button_to "Edit", edit_city_post_path(@post[:city_id], @post[:id]), :method => :get, :class => 'btn btn-info pull-right' %>
<%= button_to "Delete", root_path, :class => 'btn btn-danger pull-right'  %>

<%= button_to "Back", city_path(@post.city), :method => :get, :class => 'btn btn-primary pull-right' %>
