<% if current_user %>
  <%= button_to "Add New City", new_city_path, :method => :get, :class => 'btn btn-info pull-right' %>
<% end %>

<h1>Cities</h1>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Cities" %>
<%= submit_tag "Search", :name => nil, :class => 'btn btn-info'  %>
<% end %>

<% if @cities.blank? %>
  <h4>There are no cities containing the term <%= params[:search] %>.</h4>
<% end %>

<% @cities.each do |city| %>
  <div class="col-sm-4">
    <h3> <%= link_to city.name, city_path(city) %> </h3>
    <img src="<%= city.photo %>"/>
  </div>
<% end %>
<br/>
