<%= button_to "Add New Post", new_post_path(@city), :method => :get, :class => 'btn btn-primary pull-right' %>

<h1> <%= @city.name %> </h1>
<img src="<%= @city.photo %>"/>

<% @city.posts.each do |post| %>
  <h3> <%= link_to post.title, post_path({id: post.id, city_id: @city[:id]}) %> </h3>
  <p>
    <%= post.content %>
  </p>

  <%= button_to "Edit", root_path,  :class => 'btn btn-info pull-right' %>
  <%= button_to "Delete", root_path, :class => 'btn btn-danger pull-right'  %>
<br/>
<hr/>
<% end %>
