<%= button_to "Back", cities_path, :method => :get, :class => 'btn btn-primary pull-right' %>

<h1> <%= @city.name %> </h1>
<% if current_user && current_user[:active] %>
  <%= button_to "Add New Post", new_city_post_path(@city), :method => :get, :class => 'btn btn-primary pull-right' %>
<% end %>
<img src="<%= @city.photo %>"/>

<br />

<% @city.posts.order(created_at: :desc).each do |p| %>
  <h3> <%= link_to p.title, city_post_path({id: p.id, city_id: @city[:id]}) %> </h3>
  <h4>
    <%= p.content %>
  </h4>
  <p>
    By <%= link_to p.user.username, user_path(p.user) %> on <%= p.created_at.strftime("%m/%d/%Y") %>
  </p>
  <% if current_user && current_user[:id] == p[:user_id] %>
  <%= button_to "Edit", edit_city_post_path(@city[:id], p[:id]), :method => :get, :class => 'btn btn-info' %>
  <%= button_to "Delete", "/cities/#{@city.id}/posts/#{p.id}", method: :delete, :class => 'btn btn-danger' %>
  <% end %>

  <br/>
  <hr/>

<% end %>
