<!DOCTYPE html>
<html>
<head>
  <title>VagabondApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Vagabond", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
          <% if current_user %>
            <li> <%= link_to "Profile", user_path(current_user) %> </li>
            <li> <%= link_to "Log Out", logout_path %> </li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron"
     style="background-image:<%= @city.try(:photo).present? ?
                                 "url('" + @city.try(:photo) + "')" :
                                 asset_path('jumbotron.jpeg') %>">
   <div class="container">
       <h1><%= @city.try(:name).present? ? "#{@city.name}" : "Welcome to Vagabond" %></h1>
       <button class="btn btn-lg btn-info">Learn More <i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
     </button>
   </div>

</div>

<!-- About Panel collapse -->
<div class="row" id="about">
  <div >
    <h1>How it works!</h1>
    <h4>Love travelling and would want to share your experience with others? Learn how to sign-up below!</h4>
  </div>


    <div class="col-sm-4">
      <h3> <%= link_to new_user_path do %>
              Sign Up <i class="fa fa-sign-in" aria-hidden="true">
            <% end %>
      </h3>
      <p class="lead"> Join other fellow travellers and share your experiences on different cities!</p>
    </div>

    <div class="col-sm-4">
      <h2>Step <img src="http://s3-media1.fl.yelpcdn.com/bphoto/rdpgdletBCyrzj7cRSdbGg/o.jpg" alt="photo" class="img-rounded"></h2>
      <h3> Look up or Add a New City! </h3>
      <p class="lead"> Search for a city you have been to on the <%= link_to "Home", root_path %> page, or simply click on "Add New City"</p>
    </div>

    <div class="col-sm-4">
      <h2>Step <img src="http://previews.123rf.com/images/honzahruby/honzahruby1405/honzahruby140500010/28402976-vector-modern-flat-design-hand-ok-fingers-gesture-icon-black-isolated-on-white-background-Stock-Vector.jpg" alt="photo" class="img-rounded"></h2>
      <h3> Share your EXPERIENCE!</h3>
      <p class="lead"> Click on any city and brag about the good(or bad) times. Changed your mind about the city? Edit or Delete your post on the city or your profile page.  </p>
    </div>


</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <% flash.each do |name, msg| %>
    <p>
      <small> <%= msg %> </small>
    </p>
    <% end %>

    <%= yield %>
    </div>
  </div>
</div>

<div class="container footer col-xs-12">
  <br /><br />
  <p>Vagabond <i class="fa fa-copyright" aria-hidden="true"></i> | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> at General Assembly in San Francisco</p>
  <br/>
</div>

</div>

</body>
</html>
